html
  head
    title OA-AST Project
    block head
      script(src="/js/jquery-2.1.4.min.js")
      link(rel="stylesheet" href="./css/bootstrap.min.css")
      link(rel="stylesheet" href="./css/style.css")
      script(src="/js/bootstrap.min.js")
      

  body
    block content
